{%extends "base_generic.html"%}
{%block title%}Python{%endblock%}
{%block content%}
<div class="img"></div>
            <div class="div2"> <h1>БАЗА ЗНАНИЙ</h1></div>

            <div class="div3">
                <div class="div2">
                    <h2>Python</h2>
                </div>
                <div class="div2">
                    <p> Python - это простой в освоении, мощный язык программирования, который удовлетворяет самых требовательных профессионалов.
                        Он имеет структуры данных высокого уровня и простой, но эффективный подход к объектно-ориентированному программированию.
                        Язык обладает чётким и последовательным синтаксисом, продуманной модульностью и масштабируемостью, благодаря чему исходный код написанных на Python программ легко читаем.
                        Интерпретируемый, высокоуровневый, динамичный, объектно-ориентированный, кросс-платформенный и универсальный язык программирования. </p>
                    <a href="https://docs-python.ru/tutorial/" class="link">
                        <button class="button">
                             Узнать больше
                        </button>
                    </a>
                </div>
            </div>
            <div class="div2">
                <h2></h2>
            </div>

            <div class="div3">
                <div class="div2">
                    <h2>HTML</h2>
                </div>
                <div class="div2">
                    <p>HTML (Hypertext Markup Language) - это код, который используется для структурирования и отображения веб-страницы и её контента. Например, контент может быть структурирован внутри множества параграфов, маркированных списков или с использованием изображений и таблиц данных.</p>
                    <a href="https://htmlbase.ru/" class="link">
                        <button class="button">
                             Узнать больше
                        </button>
                    </a>
                </div>
            </div>
            <div class="div2">
                <h2></h2>
            </div>

            <div class="div3">
                <div class="div2">
                    <h2>CSS</h2>
                </div>
                <div class="div2">
                    <p> CSS (англ. Cascading Style Sheets «каскадные таблицы стилей») — формальный язык декодирования и описания внешнего вида документа (веб-страницы), написанного с использованием языка разметки (чаще всего HTML или XHTML).
                        Также может применяться к любым XML-документам, например, к SVG или XUL.
                        CSS используется для определения стилей (правил) оформления документов — включая дизайн, вёрстку и вариации макета для различных устройств и размеров экрана. </p>
                    <a href="https://developer.mozilla.org/ru/docs/Web/CSS/Reference" class="link">
                        <button class="button">
                             Узнать больше
                        </button>
                    </a>
                </div>
            </div>
            <div class="div2">
                <h2></h2>
            </div>

            <div class="div3">
                <div class="div2">
                    <h2>JavaScript</h2>
                </div>
                <div class="div2">
                    <p> JavaScript это прототипно-ориентированный, мультипарадигменный язык с динамической типизацией, который поддерживает объектно-ориентированный, императивный и декларативный (например, функциональное программирование) стили программирования.</p>
                    <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Guide" class="link">
                        <button class="button">
                             Узнать больше
                        </button>
                    </a>
                </div>
            </div>
            <div class="div2">
                <h2></h2>
            </div>
{% endblock %}